@mixin breakpoint($point) {
    @if $point == sm {
        @media (max-width: 767px) {
            @content;
        }
    }
    @else if $point == md {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $point == lg {
        @media (min-width: 992px) {
            @content;
        }
    }
    @else if $point == xl {
        @media (min-width: 1200px) {
            @content;
        }
    }
}
@mixin no-highlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

@mixin transition($element: all, $duration: 0.1s, $type: ease-out) {
    transition: $element $duration $type;
}
@mixin basic-header-text-style {
    font-size: $header-font-size;
    color: $header-font;
    margin: 0;
}
@mixin basic-link-style {
    font-weight: $font-light;
    color: $link-color;
    text-decoration: none;
    @include transition;
    &:hover {
        @include breakpoint(xl) {
            color: $link-hover;
        }
    }
    &:active {
        @include breakpoint(md) {
            color: $link-hover;
        }
        @include breakpoint(sm) {
            color: $link-hover;
        }
    }
}
@mixin hover-and-active-for-top-bar-tabs {
    background-color: $body-bg;
    i {
        color: $black;
    }
}
