.btn {
    display: inline-block;
    padding: 11px 20px;
    cursor: pointer;
    user-select: none;
    color: $white;
    border-radius: 3px;
    font-size: $btn-font-size;
    font-weight: $font-light;
    outline: none;
    border: none;
    @include transition;
}
.btn--primary {
    background-color: $btn-primary;
    &:hover {
        @include breakpoint(xl) {
            background-color: $btn-primary-hover;
        }
    }
    &:active {
        background-color: $btn-primary-hover;
    }
}
.btn--secondary {
    background-color: $btn-secondary;
    &:hover {
        @include breakpoint(xl) {
            background-color: $btn-secondary-hover;
        }
    }
    &:active {
        background-color: $btn-secondary-hover;
    }
}
.btn--disabled {
    background-color: $btn-disabled;
}
