.list-with-two-colums-and-two-icons__list-row {
    height: 58px;
    border-top: $border-grey;
    align-items: center;
    @include transition;
    @include breakpoint(sm) {
        height: auto;
        justify-content: flex-start;
    }
    &:last-child {
        border-bottom: $border-grey;
    }
    &:hover {
        background-color: #f1f3f3;
        i {
            visibility: visible;
        }
    }
}
.link-list__header {
    padding-left: 14px;

    @include breakpoint(sm) {
        overflow: hidden;
        width: 70%;
        padding-top: 5px;
        padding-bottom: 5px;
        text-overflow: ellipsis;
    }
}
.list-icon-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include breakpoint(sm) {
        justify-content: flex-end;
    }
    i {
        visibility: hidden;
        margin-left: 12px;
        padding: 5px;
        cursor: pointer;
        @include transition(color);
        @include breakpoint(sm) {
            visibility: visible;
            margin-right: 13%;
            margin-left: 0;
        }
        &:nth-child(2):active {
            color: $black;
        }
        &:nth-child(2):hover {
            @include breakpoint(xl) {
                color: $black;
            }
        }
    }      
}
.link-list__link {
    overflow: hidden;
    text-overflow: ellipsis;
        @include breakpoint(sm) {
        padding-top: 5px;
    padding-bottom: 5px;
        padding-left: 14px;
    }
}
