.section-with-banners__add-new-button {
    @extend .section-with-links__add-new-button;
}
.section-with-banners__banners-list {
    @extend .section-with-links__link-list;
}


.add-banners-overlay {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 90px;
    padding-bottom: 10px;
    .add-banners-wrapper {
        height: 100%;
        overflow-y: auto;
    }
}
.add-banners-overlay--hidden {
    display: none;
}
.add-banners__header {
    justify-content: space-between;
    i {
        color: $header-font;
        margin-right: 17px;
    }
}
.add-banners-form__add-banners-upper-block-with-inputs {
    padding-bottom: 27px;
    border-bottom: $border-grey;
}
.add-banners-upper-block-with-inputs__form-field {
    padding-left: 20px;
    padding-right: 20px;
    @include breakpoint(md) {
        &:nth-child(2),
        &:nth-child(4),
        &:last-child {
            padding-left: 0;
        }
    }
    @include breakpoint(lg) {
        &:nth-child(3),
        &:nth-child(5) {
            padding-left: 0;
        }
        &:nth-child(4) {
            padding-left: 20px;
        }
    }

    label {
        padding-top: 23px;
        padding-bottom: 13px;
    }
}

.add-banners-form__add-banners-lower-block {
    border-bottom: $border-grey;
}
.add-banners-lower-block-wrapper {
    padding: 27px 20px 18px 20px;
}
.add-banners-lower-block-wrapper--left {
    border-right: $border-grey;
    border-bottom: $border-grey;
    @include breakpoint(sm) {
        border-right: none;
    }
    @include breakpoint(md) {
        border-right: none;
    }
    @include breakpoint(lg) {
        border-right: $border-grey;
        border-bottom: none;
    }
}
.add-banners-lower-block-checkbox-field-wrapper {
    margin-top: 18px;
    @include breakpoint (xl) {
        overflow-x: auto;
        max-height: 335px;
    }
}
.add-banners-form__add-banners-form-footer {
    padding: 20px;
    justify-content: flex-end;
    padding-bottom: 0;
    }
.add-banners-form-footer__generated-link {
    color: $header-font;
    font-size: 12px;
    font-weight: $font-light;
    padding: 11px 13px;
    border: $border-grey;
    border-radius: 3px;
    
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    @include breakpoint (xl) {
        flex: 0 0 calc(100% - 293px);
    }
}
.add-banners-form-footer__form-footer-buttons {
    margin-bottom: 20px;
}
.form-footer-buttons__button {
    padding-top: 9px;
    padding-bottom: 9px;
    margin-left: 20px;
}
.form-footer-buttons__button--copy-link {
    padding-left: 28px;
    padding-right: 28px;
    display: flex;
    align-items: center;
    i {
        font-size: 16px;
        color: $white;
        padding-right: 15px;
    }
}
.form-footer-buttons__button--save {
    padding-left: 28px;
    padding-right: 28px;
}
