.general-statistic__date-filter {
    height: 110px;
    border-bottom: $border-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @include breakpoint (sm) {
        justify-content: center;
        margin: 0 5px;
    }
}
.date-filter__date-period {
    display: flex;
    align-items: center;
    margin-left: 13px;
    width: 325px;
    height: 40px;
    border: $border-grey;
    border-radius: 3px;
    @include breakpoint (sm) {
        margin-left: 0;
    }
    &:hover {
        @include breakpoint(xl) {
            border: 1px solid $paragraph-color;
        }
    }
    &:active {
        @include breakpoint(md) {
            border: 1px solid $paragraph-color;
        }
        @include breakpoint(sm) {
            border: 1px solid $paragraph-color;
        }
    }
}
.date-period__from {
    color: $paragraph-color;
    width: 45.4%;
    padding: 6px 0 6px 16px;
    font-size: $paragraph-font-size;
}
.date-period__to {
    @extend .date-period__from;
    border-left: $border-grey;
}
.date-period__icon {
    cursor: pointer;
    font-size: 13px;
    padding: 3px;
    @include transition;
    &:hover {
        @include breakpoint(xl) {
            color: $black;
        }
    }
    &:active {
        @include breakpoint(md) {
            color: $black;
        }
        @include breakpoint(sm) {
            color: $black;
        }
    }
}
.date-filter__button {
    padding: 11px 13px 9px 13px;
    margin-left: 13px;
    i {
        color: $white;
        font-size: 15px;
    }
}
.general-statistic__statistic-data {
    justify-content: space-between;
    margin-top: 40px;
}
.statistic-data-wrapper {
        padding-bottom: 20px;
        @include breakpoint(sm){
            padding-left: 14px;
    padding-right: 14px;
        }
}
.statistic-data__title {
    border-bottom: $border-grey;
    padding-bottom: 8px;
}
.statistic-data__numbers {
    text-align: right;
    border-bottom: $border-grey;
    padding-bottom: 8px;
}

.general-statistic__earnings-chart {
    
    margin-top: 45px;
    padding-bottom: 55px;
    @include breakpoint(sm) {
        padding-left: 19px;
        padding-right: 19px;
    }
}

.earnings-chart__color-tabs {
    justify-content: space-around;
    margin-top: 20px;

    @include breakpoint(sm) {
        flex-direction: column;
        align-items: flex-start;
    }
}
.color-tabs {
    color: $header-font;
    font-size: $header-font-size;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 14px;
    @include breakpoint(sm) {
        justify-content: flex-start;
        width: 115px;
    }
    &:hover {
        @include breakpoint(xl) {
            background-color: $color-tabs-bg;
        }
    }
    &:active {
        @include breakpoint(md) {
            background-color: $color-tabs-bg;
        }
        @include breakpoint(sm) {
            background-color: $color-tabs-bg;
        }
    }
}
.color-tabs--pressed {
    background-color: $color-tabs-bg;
}
.color-tabs--regular {
    background-color: none;
}
.color-tabs__circle {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 12px;
}
.color-tabs__circle--turquoise {
    background-color: $color-tabs-turquoise;
}
.color-tabs__circle--orange {
    background-color: $color-tabs-orange;
}
.color-tabs__circle--green {
    background-color: $color-tabs-green;
}
.earnings-chart__graph {
    width: 100%;
    display: block;
    overflow-x: auto;
    margin-top: 67px;
    
    @include breakpoint (md) {
        
       
    }
    @include breakpoint(sm) {
        margin-top: 30px; 
        
        
    }
    img {
        
        @include breakpoint (md) {
            display: block;
            width: auto;
            margin: 0 auto;
        }
        @include breakpoint(sm) {
            width: auto;
        }
    }
}
