.general-statistic__date-filter {
    display: flex;
    height: 110px;
    border-bottom: $border-grey;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @include breakpoint (sm) {
        margin: 0 5px;
        justify-content: center;
    }
}
.date-filter__date-period {
    display: flex;
    width: 325px;
    height: 40px;
    margin-left: 13px;
    border: $border-grey;
    border-radius: 3px;
    align-items: center;
    @include breakpoint (sm) {
        margin-left: 0;
    }
    &:hover {
        @include breakpoint(xl) {
            border: 1px solid $paragraph-color;
        }
    }
    &:active {
        border: 1px solid $paragraph-color;
    }
}
.date-period__from {
    width: 45.4%;
    padding: 6px 0 6px 16px;
    color: $paragraph-color;
    font-size: $paragraph-font-size;
}
.date-period__to {
    border-left: $border-grey;
    @extend .date-period__from;
}
.date-period__icon {
    padding: 3px;
    cursor: pointer;
    font-size: 13px;
    @include transition;
    &:hover {
        @include breakpoint(xl) {
            color: $black;
        }
    }
    &:active {
        color: $black;
    }
}
.date-filter__button {
    margin-left: 13px;
    padding: 11px 13px 9px 13px;
    i {
        color: $white;
        font-size: 15px;
    }
}
.general-statistic__statistic-data {
    margin-top: 40px;
    justify-content: space-between;
}
.statistic-data-wrapper {
    padding-bottom: 20px;
    @include breakpoint(sm) {
        padding-right: 14px;
        padding-left: 14px;
    }
}
.statistic-data__title {
    padding-bottom: 8px;
    border-bottom: $border-grey;
}
.statistic-data__numbers {
    padding-bottom: 8px;
    text-align: right;
    border-bottom: $border-grey;
}

.general-statistic__earnings-chart {
    margin-top: 45px;
    padding-bottom: 55px;
    @include breakpoint(sm) {
        padding-right: 19px;
        padding-left: 19px;
    }
}

.earnings-chart__color-tabs {
    margin-top: 20px;
    justify-content: space-around;

    @include breakpoint(sm) {
        flex-direction: column;
        align-items: flex-start;
    }
}
.color-tabs {
    display: flex;
    margin-top: 20px;
    padding-left: 14px;
    color: $header-font;
    font-size: $header-font-size;
    justify-content: center;
    align-items: center;
    @include breakpoint(sm) {
        width: 115px;
        justify-content: flex-start;
    }
    &::before {
        width: 16px;
        height: 16px;
        margin-right: 12px;
        content: "";
        border-radius: 50%;
        background-color: $color-tabs-turquoise;
        flex-shrink: 0;
    }
    &:hover {
        @include breakpoint(xl) {
            background-color: $color-tabs-bg;
        }
    }
    &:active {
        background-color: $color-tabs-bg;
    }
}
.color-tabs--pressed {
    background-color: $color-tabs-bg;
}
.color-tabs--regular {
    background-color: transparent;
}
.color-tabs--circle-turquoise {
    &::before {
        background-color: $color-tabs-turquoise;
    }
}
.color-tabs--circle-orange {
    &::before {
        background-color: $color-tabs-orange;
    }
}
.color-tabs--circle-green {
    &::before {
        background-color: $color-tabs-green;
    }
}
.chart-wrapper {
    overflow: hidden;
    overflow-x: auto;
}
.earnings-chart__graph {
    position: relative;
    min-width: 280px;    
    margin-top: 67px;
    @include breakpoint(sm) {
        margin-top: 30px;
    }
    img {
        @include breakpoint (md) {
            display: block;
            width: auto;
            margin: 0 auto;
        }
        @include breakpoint(sm) {
            width: auto;
        }
    }
}
