.section-with-links__add-new-button {
    display: flex;
    justify-content: center;
    padding-top: 22px;
    padding-bottom: 23px;
}
.section-with-links__link-list {
    display: flex;
    justify-content: center;
}
