.personal-data-form__block-with-inputs {
    padding-top: 42px;
    padding-bottom: 42px;
    border-bottom: $border-grey;
    @include breakpoint(sm) {
        width: 90%;
        margin:0 auto;
    }
}
.general-information__form-field {
    justify-content: flex-end;
    align-items: center;
    width: 460px;
    margin: 0 auto;
    margin-top: 15px;
    @include breakpoint (sm) {
        width: 100%;
        flex-wrap: wrap;
    }
    &:first-child {
        margin-top: 0;
    }

}
.personal-data-form__save-button-field {
    height: 105px;
    justify-content: center;
    align-items: center;
}
.save-button-field__button {
    padding-left: 30px;
    padding-right: 30px;

}