.sidebar {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 188px;
    height: 100vh;
    background-color: $sidebar-bg;
    position: fixed;
    top: 0;
    left: 0;
    color: $sidebar-font-color;
}
.sidebar__sidebar-upper-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 18px);
    height: 60px;
    margin-left: 18px;
    display: flex;
    align-items: center;
}
.sidebar-upper-wrapper__hamburger {
    padding: 3px;
    font-size: 21px;
    color: $sidebar-font-color;
    margin-right: 17px;
    margin-top: 2px;
    cursor: pointer;
    @include transition;
    &:hover {
        color: $white;
    }
}
.sidebar__navigation-links {
    padding: 0;
    width: 100%;
    font-size: $paragraph-font-size;
    list-style: none;
    margin: 0;
    padding-bottom: 24px;
    border-bottom: 1px solid $paragraph-color;
}
.navigation-links__link-tab {
    position: relative;
    padding-left: 18px;
    height: 42px;
    display: flex;
    align-items: center;
    cursor: pointer;
    @include transition;
    &:hover {
        background-color: #282828;
        color: $white;
        .link-tab__preceding-rectangle {
            visibility: visible;
        }
    }
    i {
        font-size: 16px;
        margin-right: 12px;
    }
}

.link-tab__preceding-rectangle {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 42px;
    width: 4px;
    background-color: $btn-secondary;
}

.manager-tab__header {
    font-size: $paragraph-font-size;
    font-weight: $font-medium;
    color: #808080;
    text-transform: uppercase;
    margin-top: 26px;
    margin-left: 20px;
    margin-bottom: 15px;
}
.manager-tab-display-wrapper {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.manager-tab__manager-avatar {
    margin-left: 20px;
    position: relative;
}
.manager-avatar__status-indicator {
    border-radius: 50%;
    background-color: $online-green;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 0;
    left: 32px;
}
.manager-tab__manager-name {
    color: $link-color;
    font-size: $paragraph-font-size;
    margin-left: 10px;
}