.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 188px;
    height: 100vh;
    color: $sidebar-font-color;
    background-color: $sidebar-bg;
    justify-content: flex-start;
    @include breakpoint(sm) {
        position: static;
        z-index: 97;
        width: 100%;
        min-height: 445px;
        max-height: calc(100vh - 160px);
    }
    @include breakpoint(xl) {
        width: 55px;
    }
}
.sidebar--short {
    @include breakpoint(md) {
        width: 55px;
    }
    @include breakpoint(xl) {
        width: 188px;
    }
}
.sidebar-logo-wrapper {
    display: flex;
    width: calc(100% - 18px);
    height: 60px;
    margin-left: 18px;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(sm) {
        width: calc(100% - 36px);
        height: 50px;
        border-bottom: 1px solid $paragraph-color;
        flex-wrap: wrap;
    }
    @include breakpoint (xl) {
        visibility: hidden;
    }
}
.sidebar-logo-wrapper--hidden {
    @include breakpoint (md) {
        visibility: hidden;
    }
    @include breakpoint (xl) {
        visibility: visible;
    }
}
.sidebar__logo {
    @include breakpoint(sm) {
        width: auto;
        height: 25px;
        margin-left: 18px;
    }
}
.sidebar__navigation-links {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding-bottom: 24px;
    padding-left: 0;
    list-style: none;
    border-bottom: 1px solid $paragraph-color;
    @include breakpoint(sm) {
        width: 100%;
        padding-right: 18px;
        padding-bottom: 0;
        padding-left: 18px;
        border-bottom: none;
    }
}
.navigation-links__link-tab {
    position: relative;
    height: 42px;
    font-size: $paragraph-font-size;
    @include transition;
    @include breakpoint(sm) {
        height: 40px;
        border-bottom: 1px solid $paragraph-color;
        font-size: 16px;
        justify-content: flex-start;
    }
}
.sidebar-link {
    display: flex;
    height: 100%;
    width: 100%;
    padding-left: 18px;
    align-items: center;
    color: $sidebar-font-color;
    @include transition;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 4px;
        height: 100%;
        background-color: $btn-secondary;
        @include transition;
        @include breakpoint(sm) {
            top: -1px;
            height: calc(100% + 2px);
        }
    }
    &:hover {
        @include breakpoint(xl) {
            color: $white;
            background-color: #282828;
        }
        &::before {
            @include breakpoint(xl) {
                opacity: 1;
            }
        }
    }
    &:active {
        color: $white;
        background-color: #282828;
        &::before {
            opacity: 1;
        }
    }
}
.sidebar-link--current-page {
    color: $white;
    background-color: #282828;
    &::before {
        opacity: 1;
    }
}
.link-tab__icon {
    margin-right: 12px;
    font-size: 16px;
    @include breakpoint(sm) {
        margin-right: 34px;
        font-size: 16px;
    }
    @include breakpoint(xl) {
        padding-right: 25px;
    }
}
.link-tab__icon--short-menu {
    @include breakpoint(md) {
        padding-right: 25px;
    }
    @include breakpoint(xl) {
        padding-right: 0;
    }
}
.sidebar__manager-tab {
    @include breakpoint(sm) {
        width: 100%;
        padding-left: 18px;
        padding-right: 18px;
    }
}
.manager-tab__header {
    margin-top: 26px;
    margin-bottom: 15px;
    margin-left: 20px;
    text-transform: uppercase;
    color: #808080;
    font-size: $paragraph-font-size;
    font-weight: $font-medium;
    @include breakpoint(sm) {
        margin-top: 14px;
        margin-left: 0;
        font-size: 16px;
        padding-left: 18px;
        padding-right: 18px;
    }
    @include breakpoint (xl) {
        display: none;
    }
}
.manager-tab__header--hidden {
    @include breakpoint (md) {
        display: none;
    }
    @include breakpoint (xl) {
        display: block;
    }
}
.manager-tab-display-wrapper {
    display: flex;
    cursor: pointer;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    @include breakpoint(sm) {
        padding-left: 18px;
        padding-right: 18px;
    }
    &:hover {
        @include breakpoint(xl) {
            background-color: #282828;
        }
    }
    &:active {
        background-color: #282828;
    }
}
.manager-tab__manager-avatar {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 20px;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 32px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: $online-green;
        @include breakpoint(sm) {
            left: 35px;
            width: 12px;
            height: 12px;
        }
    }
    @include breakpoint(sm) {
        width: 50px;
        height: 50px;
        margin-left: 0;
    }
    @include breakpoint (xl) {
        margin-left: 5px;
        transform: scale(0.6);
    }
    img {
        @include breakpoint(sm) {
            width: 100%;
        }
    }
}
.manager-tab__manager-avatar--short-menu {
    @include breakpoint (md) {
        margin-left: 5px;
        transform: scale(0.6);
    }
    @include breakpoint (xl) {
        margin-top: 0;
        margin-left: 20px;
        transform: scale(1);
    }
}
.manager-tab__manager-name {
    margin-left: 10px;
    color: $link-color;
    font-size: $paragraph-font-size;
    @include breakpoint(sm) {
        font-size: 14px;
    }
    @include breakpoint(xl) {
        display: none;
    }
}
.manager-tab__manager-name--hidden {
    @include breakpoint(md) {
        display: none;
    }
    @include breakpoint(xl) {
        display: block;
    }
}
