.top-bar {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    height: 60px;
    top: 0;
    background-color: $white;
    border: $border-grey;
    color: $top-bar-content;
    padding-right: 0;
    @include breakpoint(sm) {
        padding-left: 18px;
        padding-right: 18px;
        position: static;
        flex-wrap: wrap;
        left: 0;
        justify-content: flex-start;
        width: 100%;
        height: 160px;
        z-index: 99;
    }
}

.top-bar__wallet {
    display: flex;
    align-items: center;
    padding-left: 17px;
    padding-right: 13px;
    border-left: $border-grey;
    cursor: pointer;
    @include transition;
    @include breakpoint(sm) {
        width: 100%;
        border-left: none;
        border-bottom: $border-grey;
        padding-left: 18px;
    }
    &:hover {
        @include breakpoint(xl) {
            @include hover-and-active-for-top-bar-tabs;
        }
    }
    &:active {
        @include breakpoint(sm) {
            @include hover-and-active-for-top-bar-tabs;
        }
        @include breakpoint(md) {
            @include hover-and-active-for-top-bar-tabs;
        }
    }
}
.wallet__amount {
    padding-left: 15px;
    padding-right: 18px;
    font-size: 20px;
    font-weight: $font-medium;
    @include breakpoint(sm) {
        padding-left: 0;
    }
}
.wallet__wallet-icon {
    font-size: 18px;
    @include breakpoint(sm) {
        margin-right: 34px;
    }
}
.wallet__arrow-down-icon {
    font-size: 12px;
    padding-right: 4px;
}
.top-bar__notification {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 20px;
    border-left: $border-grey;
    cursor: pointer;
    @include transition;
    @include breakpoint(sm) {
        width: 100%;
        border-bottom: $border-grey;
        padding-left: 18px;
        border-left: none;
    }
    &:hover {
        @include breakpoint(xl) {
            @include hover-and-active-for-top-bar-tabs;
        }
    }
    &:active {
        @include breakpoint(sm) {
            @include hover-and-active-for-top-bar-tabs;
        }
        @include breakpoint(md) {
            @include hover-and-active-for-top-bar-tabs;
        }
    }
}
.notification__icon {
    font-size: 17px;
}
.notification__indicator {
    border-radius: 50%;
    background-color: $btn-secondary;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 17px;
    left: 30px;
    @include breakpoint (sm) {
        top: 5px;
        left: 27px;
    }
}
.top-bar__profile {
    display: flex;
    align-items: center;
    padding: 0 19px;
    border-left: $border-grey;
    @include transition;
    @include breakpoint(sm) {
        width: 100%;
        border-bottom: $border-grey;
        padding-left: 18px;
        border-left: none;
    }
    &:hover {
        @include breakpoint(xl) {
            @include hover-and-active-for-top-bar-tabs;
        }
    }
    &:active {
        @include breakpoint(sm) {
            @include hover-and-active-for-top-bar-tabs;
        }
        @include breakpoint(md) {
            @include hover-and-active-for-top-bar-tabs;
        }
    }
}
.profile__icon {
    font-size: 17px;
    @include breakpoint(sm) {
        margin-right: 34px;
    }
}
.profile__name {
    display: flex;
    align-items: center;
    padding-left: 12px;
    @include breakpoint(sm) {
        padding-left: 0;
    }
}
.top-bar__quit {
    padding-left: 21px;
    padding-right: 19px;
    display: flex;
    align-items: center;
    border-left: $border-grey;
    cursor: pointer;
    @include transition;
    @include breakpoint(sm) {
        width: 100%;
        border-bottom: $border-grey;
        padding-left: 18px;
        border-left: none;
    }
    &:hover {
        @include breakpoint(xl) {
            @include hover-and-active-for-top-bar-tabs;
        }
    }
    &:active {
        @include breakpoint(sm) {
            @include hover-and-active-for-top-bar-tabs;
        }
        @include breakpoint(md) {
            @include hover-and-active-for-top-bar-tabs;
        }
    }
}
.quit__icon {
    font-size: 19px;
}
